@CHARSET "UTF-8";
body{ color:#000; background:#FFFFCC; font:14px/22px Verdana,Arial,sans-serif,"Times New Roman",宋体; text-align:center;}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,tr{ margin:0; padding:0;}
input,select{ font-size:12px; vertical-align:middle;}

.navbar-collapse{
	 background: #222 none repeat scroll 0 0;
	 
}
.container{
	margin-top: 10px;
}

.navbar-logo{
	float: left;
	margin-right: 10px;
	margin-left: 0px;
	padding-left: 0px;
}
.navbar-logo img{
	height: 50px;
}
.navbar-self{
	width: 1000px;
	margin:0 auto ;
	height: 50px;
}

.navbar-right{
	margin-top: 7px;
}

.navbar-left{
	margin-top: 5px;
}