.blog-title{
	font-family: "黑体","微软雅黑";
	font-size: 25px;
	color: cadetblue;
	margin: 10px 0;
}

.blog-other{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #5F9EA0;
	padding: 5px;
}

.blog-content{
	font-family:"宋体" ;
}

.write-comment{
	float: left;
	padding-left:20px;
	padding-top: 10px;
	border-top: 4px solid #ccc;
}

.comment-head{
	color: #999;
	font: normal 12px/26px Arial, Helvetica, sans-serif;
	height:25px;
}

.comment-time,.comment-likes{
	float: right;
}

.comment-user{
	font-size: 14px;
	color: #c88326 ;
	float: left;
	margin-left:10px;
}

.comment-body{
	text-align: left;
	padding-left: 30px;
}

.comments{
	border-top:1px solid #ccc;
	margin:5px 0;
	font: normal 12px/26px Arial, Helvetica, sans-serif;
}
