body{
	margin:0px auto;
	width: 80%;
}

.panel-title{
	text-align: left;
}

.login-side{
	width: 30%;
	
	float: right;
	margin-top: 8%;
	margin-right: 10%;
}

.verify-code{
	margin-left: 0px;
	padding-left: 0px;
}

.verify-code img{
	width:90px;
	height: 35px;
}

#login-btn{
	margin-top: 8px;
}