body{
	margin:0px auto;
	width: 90%;
}

.panel-title{
	text-align: left;
}

.login-side{
	margin:0px auto;
	width: 50%;
	margin-top: 5%;
}

.head-photo{
	width:153px;
	height:153px;
	text-align: center;
	margin: 0 auto;
	padding: 0px;
}

.head-photo img{
	width:150px;
	height:150px;
}

form{
	border: 1px solid #337ab7;
	margin-top: 5px;
}

form input[type="file"]{
	margin-top: 1%;
}

.verify-code{
	margin-left: 0px;
	padding-left: 0px;
}

.verify-code img{
	width:100px;
	height: 35px;
}
